/* site header and footer */
.site-header input {
  margin: 15px 0;
  border-radius: 40px;
}
.site-header ul,
.site-footer ul {
  padding-left: 0;
}
.site-header ul li,
.site-footer ul li {
  list-style-type: none;
  gap: 15px;
}

/* hero */
.hero {
  margin-bottom: 20px;
  padding: 10px;
  border: solid black .2em;
}

.hero img {
  width: 100%;
}

/*  spots */

.spots > article {
  margin: 0;
}
.spots img {
  width: 100%;
  padding-top: 10px;
}

.spots figcaption {
  text-align: center;
  font-weight: bold;
  padding: 15px;
}

.spots figure {
  border: solid black .2em; 

  margin: 20px 0;
}
/* populära produkter */
.populäraprodukter h3 {
  text-align: center;
}

.populäraprodukter span {
  text-align-last: right;
}

.populäraprodukter img {
  width: 100%;
}

.populäraprodukter > article > article {
  padding-bottom: 15px;
}

/* footer */

.site-footer li i {
  margin-right: 5px;
}

.site-footer small {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 15px 0;
}
